Allow subdomain cookies

I've got multi domain project:
`domain.com`
`sub.domain.com`

When user logins on `domain.com` cookie is set without domain. It means that it doesn't work for subdomains -> user is not logged in on subdomains. I checked sources - looks like there is no way to specify cookie domain support.

Can you add this feature?


Hi,

I personally don't think calling `cookie.setDomain(currentDomain)` when creating the restx cookie would be a good idea, at least _by default_ as I think sharing cookies across domains may be unwanted in most of cases (see [RFC 6265 section 8.6 about Weak Integrity](http://tools.ietf.org/html/rfc6265#section-8.6))

However, I understand your need and I agree with you : there is currently no way to define the Cookie's domain attribute.
I think it should be interesting to be able to provide this info while defining [`RestxSessionCookieDescriptor`](https://github.com/restx/restx/blob/be01892571b8d6b3bff04cc7b58152fd23192763/restx-core/src/main/java/restx/security/RestxSessionCookieDescriptor.java) (and putting absent domain by default)

WDYT ?

I'm not familiar with your architecture but I do really need this feature. Can I configure filter to add domain?